apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-second-deployment
  labels:
    group: example
spec:
  selector:
    matchLabels:
      app: second-app
      tier: backend
    # matchExpressions:
    #   - key: app
    #     operator: In
    #     values: [second-app, first-app]
  replicas: 1
  template:
    metadata:
      labels:
        app: second-app
        tier: backend
    spec:
      containers:
        - name: second-node
          image: rkatorjuliusworks/kubernetes-demo
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 10
            initialDelaySeconds: 5
        # - name: ...
        #   image: ....
