apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: second-app
  ports:
    - protocol: "TCP"
      port: 3000
      targetPort: 3000
    # - protocol: 'TCP'
    #   port: 443
    #   targetPort: 443
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-second-deployment
spec:
  selector:
    matchLabels:
      app: second-app
      tier: backend
    # matchExpressions:
    #   - key:
    #     operator:
  replicas: 1
  template:
    metadata:
      labels:
        app: second-app
        tier: backend
    spec:
      containers:
        - name: second-node
          image: rkatorjuliusworks/kubernetes-demo
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
        # - name: ...
        #   image: ....
