<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <!-- Conditional rendering syntax, not a directive -->
  <!-- @if(isAdmin()){
  <p>Only admins should see this!</p>
  } -->

  <!-- Structural Directive: Directive that changes the structure of the DOM (Deprecated in newer versions of angular) -->
  <!-- <p *ngIf="isAdmin()">Only admins should see this!</p> -->
  <!-- <ul>
    <li *ngFor="let item of [1, 2, 3]">
      <p>{{ item }}</p>
    </li>
  </ul> -->

  <!-- Custom Structural Directive -->
  <p *appAuth="'admin'" appLog class="protected-content admin">
    Only admins should see this using custom directive!!
  </p>
  <p *appAuth="'user'" class="protected-content unauthenticated">
    Regular users should see this using custom directive!!
  </p>
  <p *appAuth="'guest'" class="protected-content authenticated">
    Guest users should see this using custom directive!!
  </p>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
