apiVersion: v1
kind: Service
metadata:
  name: tasks-service
spec:
  selector:
    app: task
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task
  template:
    metadata:
      labels:
        app: task
    spec:
      containers:
        - name: task-api
          image: rkatorjuliusworks/kubernetes-deployment-challenge-tasks:latest
          env:
            - name: MONGODB_CONNECTION_URI
              value: mongodb+srv://MONGO_DB_USER:MONGODB_USER_PASSWORD@@mongo-cluster.ostez.mongodb.net/users
            - name: AUTH_API_HOST
              value: auth-service.default:3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
