<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <!-- Using @if: Angular Modern Feature -->
  <!-- @if(isAdmin()){
  <p>Only Admins can see this!</p>
  } -->

  <!-- Using *ngIf Angular Structural Directive -->
  <!-- <p *ngIf="isAdmin">Only Admins can see this!</p> -->

  <!-- Alternative way to add structural directive -->
  <!-- <ng-template appAuth="admin">
    <p>Only Admins can see this!</p>
  </ng-template> -->

  <p *appAuth="'admin'" appLog class="protected-content admin">
    Only Admins can see this!
  </p>
  <p *appAuth="'user'" class="protected-content unauthenticated">
    Regular users should see this!
  </p>
  <p *appAuth="'guest'" class="protected-content authenticated">
    Guest users should see this!
  </p>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
