apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-deployment
spec:
  selector:
    matchLabels:
      app: tasks
  template:
    metadata:
      labels:
        app: tasks
    spec:
      containers:
        - name: tasks
          image: rkatorjuliusworks/kubernetes-demo-tasks:latest
          env:
            - name: AUTH_URL
              value: http://auth-service.default:3000
            - name: TASKS_FOLDER
              value: tasks
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"