apiVersion: apps/v1
kind: Deployment
metadata:
  name: story-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: story
  template:
    metadata:
      labels:
        app: story
    spec:
      containers:
        - name: stroy
          image: rkatorjuliusworks/kubernetes-volumes-demo:2
          env:
            - name: STORY_FOLDER
              # value: "story" # Using value
              valueFrom: # Using configMap
                configMapKeyRef:
                  name: data-store-env
                  key: folder
          volumeMounts:
            - mountPath: app/story
              name: story-volume
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: story-volume
          # emptyDir: {}
          # hostPath:
          #   path: /data
          #   type: DirectoryOrCreate

          # Claim Persistent volume
          persistentVolumeClaim:
            claimName: host-pvc
